@charset "UTF-8";

@media screen and (max-width: 585px) {
  body {
    width: 100vw;
  }

  header, header > nav {
    flex-flow: column nowrap;
  }

  header > h1 {
    flex-basis: 50px;
  }
  
  header > nav {
    display: none;
  }

  header > nav > a {
    width: 90vw;
  }

  header i#burguer {
    display: block;
    width: 100vw;
  }

  main {
    max-width: 90vw;
    margin: auto;
    margin-top: 10px;
  }
}